<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
</head>
<body>
<div id="app">
    <input type="radio" value="one" v-model="a"/>
    <input type="radio" value="two" v-model="a"/>
    {{a}}
    <br/>
    <input type="checkbox" value="a1" v-model="c"/>
    <input type="checkbox" value="b2" v-model="c"/>
    <input type="checkbox" value="d3" v-model="c"/>
    {{c}}
    <br/>
    <br/>
    <select v-model="d">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
    </select>
    {{d}}
    <br/>
    <br/>
    <select v-model="e" multiple>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
    </select>
    {{e}}
    <br/>
    <!-- 失去焦点  -->
    <input type="text" v-model.lazy="f"/>{{f}}
    <br/>
    <!-- 去掉首尾空格 --->
    <input type="text" v-model.trim = "g"/>{{g}}
</div>
<script>
    new Vue({
        el:"#app",
        data:{
            a:"",
            c:[],
            d:"",
            e:[],
            f:"",
            g:""
        }
    });
</script>

</body>
</html>