<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>

</head>
<body>
<div id="app">
    <zj v-on:change="abc"></zj>
</div>
<script>
    Vue.component("zj",{
        template:"<div><button @click='btn'>点击</button></div>",
        methods:{
            btn:function(){
                this.$emit('change','a','b','c');
            }
        }
    });
    new Vue({
        el:"#app",
        methods:{
            abc:function(){
                console.log(arguments);
            }
        }
    });
</script>

</body>
</html>